{% extends "admin/ticket/scan/base.html" %}

{% block breadcrumbs_last %}
  Random Data
{% endblock breadcrumbs_last %}
{% block extrahead %}
  {{ block.super }}
  {{ form.media }}
{% endblock extrahead %}
{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="module aligned">
      {% for field in form.visible_fields %}
        <div class="form-row">
          {{ field.errors }}
          {{ field.label_tag }}
          {% if field.field.widget.attrs.readonly %}
            {{ field.field.value }}
            {{ field.as_hidden }}
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.field.help_text %}<p class="help">{{ field.field.help_text|safe }}</p>{% endif %}
        </div>
      {% endfor %}
      {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    </fieldset>
    {{ form.non_field_errors }}
    <div class="submit-row">
      <input type="submit" class="default" value="Generate" />
    </div>
  </form>
{% endblock content %}
