{% extends "layouts/base-page-fluid.html" %}

{% block title %}
  Tables
{% endblock title %}
{% block page_pretitle %}
  DynamoDB
{% endblock page_pretitle %}
{% block page_title %}
  Tables
{% endblock page_title %}
{% block extrastyle %}
  <style></style>
{% endblock extrastyle %}
{% block page_title_actions %}
{% endblock page_title_actions %}
{% block page_body %}
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for table in tables %}
        <tr>
          <td>
            <a href="{% url 'dynamodb:records' table_name=table %}">{{ table }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock page_body %}
{% block extrajs %}
  <script type="module"></script>
{% endblock extrajs %}
