<div class="card" id="card-cunductor-table-{{agency_id}}">
  <div class="card-header pb-0">
    <h3 class="subheader">by Conductor - {% if agency_id == 1 %}MNR{% else %}LIRR{% endif %}<br/>
      <span class="response-time-range strong small"></span></h3>
  </div>
  <div class="table-responsive overflow-scroll" style="max-height: 250px;">
    <table class="table card-table table-sm">
      <thead>
        <tr>
          <th>Conductor</th>
          <th>Total <i class="fa-solid fa-arrow-down"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">Loading...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="module">
  fetch("/api/ticket/scan/dashboard/card_conductor_table/?start_date={{ start_date|date:'Y-m-d' }}&end_date={{ end_date|date:'Y-m-d' }}&agency_id={{agency_id}}").then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    return response.json();
  }).then(data => {
    const card = document.getElementById("card-cunductor-table-{{agency_id}}");
    const tbody = card.querySelector(".card-table tbody");
    const time_range_el = card.querySelector(".response-time-range");

    if (data.length == 0) {
      tbody.innerHTML = `<tr><td colspan="2">No data available</td></tr>`
    } else {
      let html = [];
      data.items.forEach((item) => {
        html.push(`<tr>
              <td><a href="/ticket/scan/detail/?start_date={{ start_date|date:'Y-m-d' }}&end_date={{ end_date|date:'Y-m-d' }}&agency_id={{agency_id}}&conductor_id=${item.conductor_id}" target="_blank">${item.conductor_id}</a></td>
              <td>${item.total}</td>
            </tr>`)
      })
      tbody.innerHTML = html.join("");
      const start_date = new Date(data.start_date);
      const end_date = new Date(data.end_date);
      time_range_el.innerHTML = `(${mta.format.date_time.format(start_date)} <i class="fa-solid fa-arrow-right"></i> ${mta.format.date_time.format(end_date)})`
    }
  })
</script>
